extends layout

block content
  h1= title
  p Welcome to #{title}
  form(
    action = "/endpoint"
    method = "post"
  )
    select(name = "inputName")
      each n in names
        option= n
    button(type = "submit") Submit
